@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", system-ui, sans-serif;
    color: #3c3c3c;
  }

  .dropdown:focus-within .dropdown-menu {
    opacity: 1;
    transform: translate(0) scale(1);
    visibility: visible;
  }

  .PhoneInput {
    @apply flex items-center
  }
  .PhoneInput .PhoneInputInput {
    @apply py-1 border-b focus:border-gray-400 outline-none duration-200
  }
}
